
#ejercicioUno {
    display: block;
    text-align: center;
}




#ejercicioDos {
    border: none;
    display: none;
}




#ejercicioTres {
    position: relative;
    left: 200px;
    top: 100px;
}




#ejercicioCuatro {
    position: fixed;
    left: 0px;
    top: 0px;
  
}





#ejercicioCinco {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}



#ejercicioSiete {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

}
